body {
    background-color: #F7F7F7;
}
h1{
    font-family: "Cooper Black", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: rgb(233, 91, 8)
}

h3 {
    font-family: "Cooper Black",'Arial Narrow Bold', sans-serif;
    color: rgb(233, 91, 8)
}

div {
    font-family: 'Constantia', Times, serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: rgb(31, 31, 31);
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: left;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0 0 100px;
    width: 100px;
    height: 40px;
}